/* general formatting */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAF9F6;
    font-family: 'Sen', sans-serif;
    font-size: 15px;
    color: #222222;
    line-height: 1.35em;
    
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

b {
    font-weight: 800;
}

strong {
    font-weight: 700;
}

.title {
    font-size: 30px;
    color: #222222;
}

h1 {
    font-size: 26px;
    font-weight: 600;
    color: #be0c0c;
    padding-top: 15px;
}

h2 {
    font-size: 22px !important;
    font-family: 'Sen', sans-serif;
    font-weight: 800 !important;
    letter-spacing: -0.2pt;
    padding-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    color: #4f4f4f;
    padding-top: 15px;
}

code {
    font-size: 14px;
    font-family: Monaco;
    background-color: #faf1f1;
    padding: 2px;
}

pre {
    font-size: 13px;
    font-family: Monaco;
    letter-spacing: -0.2px;
    background-color: #faf1f1;
    padding: 10px 8px 10px 8px;
    border-radius: 2px;
    border: 1px dotted #4f4f4f;
    line-height: 1.5;
}

table, th, tr {
    border: 0;
    padding-right: 3px;
    margin-top: 10px;
    margin-left: -2px;
    width: 100%;
}

.pages {
    padding-top: 20px;
    font-size: 17px;
    line-height: 1.5em;
    text-align: justify;
}

.tags {
    display: flex;
    margin-top: -5px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #222222;
}

.pages-tag {
    border-radius: 10px;
    padding: 0px 6px 0px 6px;  /* top right bottom left */
    font-size: 13px;
    background-color: #c71414;
    color: #ffffff;
    text-transform: uppercase;
    width: max-content;
    margin-right: 5px;
}

.pages-title {
    font-size: 28px !important;
    font-weight: 600 !important;
    margin-bottom: 0px;
    color: #222222;
}

/* styles profile picture */
.profile-picture {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 30px 0 0 15px;
    float: right;
    border-radius: 50%;
}

/* styles research images */
.research-img-right {
    width: 200px;
    position: relative;
    margin: 0px 0px 0px 15px;
    float: right;
    border-radius: 50%;
}

.research-img-left {
    width: 200px;
    position: relative;
    margin: 0px 20px 0px 0px;
    float: left;
    border-radius: 50%;
}

/* styles links and navigation bar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.navbar-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    display: flex;
    list-style-type: none;
    margin: 5px;
}

.navbar-item a {
    padding: 5px;
    font-size: 16px;
    color: #c71414;
}

a {
    text-decoration: none;
    color: #c71414;
}
    
a:hover {
    text-decoration: none;
    background-color: #c71414;
    color: #ffffff;
}

.clicked {
    padding: 5px;
    font-size: 16px;
    color: #c71414;
    font-weight: 800;
}

/* styles page components */
.wrapper {
    min-height: 100%;
    max-width: 750px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    max-width: 750px;
    margin: 0;
}

.card {
    /* fixed position a zero-height full width container */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	/* center all inline content */
	text-align: center;
}

.card img {

}

.card > div {
    /* make the block inline */
	display: inline-block;
	/* reset container's center alignment */
	text-align: left;
}

.card h1, h2 {
    font-size: 26px;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 7px;
}

.contact {
    text-align: left;
    display: inline-block;
    font-size: 14px;
}

.contact ul {
    list-style: outside;
    margin-top: 0px;
}

.contact li {
    padding: 0px 0 0px 25px;
    margin: 0;
    list-style: none;
    background-repeat: no-repeat;
	background-position: left center;
	background-size: 11px;
}

hr { 
    margin-bottom: 0.20em;
    margin-top: -0.20em;
    margin-left: auto;
    margin-right: auto;
    border: 0.1pt solid #000000;
} 

.footer {
    border-top: 1px solid #e3e3e3;
    padding: 10px 0px 0px 0px;
    margin-top: 20px;
    left: 0;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

.footer-short {
    border-top: 1px solid #e3e3e3;
    padding: 10px 0px 0px 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

.footer-card {
    border-top: 1px solid #e3e3e3;
    background-color: #c71414;
    color: #ffffff;
    padding: 13px 0px 0px 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 33px;
    width: 100%;
}

.footer-card a {
    color: #ffffff;
    letter-spacing: 1px;
}

footer div {
    text-align: center;
    margin: auto;
}

footer a {
    color: #222222;
}

/* styles lists and list items */
.container ol, ul {
    padding: 0 20px 0 20px;
    display: block;
    counter-reset: list;
}

.container ul>li {
    margin: 5px 0 5px 0;
}

.container ol>li {
    margin: 8px 0 5px 8px;
    list-style: none;
    position: relative;
}

.container ol>li:before {
    content: "[" counter(list,decimal) "] ";
    counter-increment: list;
    position: absolute;
    margin-left: -30px;
}