/* Global styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 12pt;
    background-color: #e8e8e8;
    margin: 0;
    padding: 0;
    color: #222222;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #003c80;
    color: #e8e8e8;
    padding: 0px;
    text-align: center; /* Center header content */
}

nav ul {
    list-style-type: none;
    margin-top: -10px;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #e8e8e8;
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    color: #003c80;
    background-color: #e8e8e8;
    text-decoration: none;
    font-weight: 600;
}

a {
    color: #003c80;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    background-color: #003c80;
    color: #e8e8e8;
}

h1 {
    letter-spacing: 1pt;
}

h3 {
    margin-top: -10px;
}

p {
    font-size: 11pt;
    line-height: 1.4em;
    text-align: left;
}

main {
    flex: 1; /* Allow main content to grow */
    padding: 20px;
    max-width: 1000px; /* Limit main content width */
    margin: 0 auto; /* Center main content horizontally */
}

section {
    margin-bottom: 20px;
}

.program {
    text-align: center;
    margin: -5px 0px -5px 0px;
}

.program > h2, .program > h3 {
    font-weight: 600;
}

.comps > h1 {
    text-align: center;
    padding: 10px 0px 15px 0px;
    margin-bottom: -10px;
    color: #003c80;
    font-size: 22pt;
}

.exam {
    display: flex;
    flex-wrap: wrap;
    border: 1px dotted #222222;
    padding: 20px 15px 0px 15px;
    margin-top: 20px;
}

.exam > h3 {
    margin-top: 0;
    text-align: justify;
}

.exam > .research {
    /*flex: 1 1 auto; !* Let the child divs grow equally *!*/
    margin-right: 20px; /* Add margin between the child divs */
}

.research {
    flex: 0 0 270px; /* Set a specific width for the .research div */
}

.research > h3 {
    font-weight: 530;
    font-size: 15pt;
    color: #003c80;
}

.paper {
    flex: 1 1 600px; /* Let the .heartview div grow to fill the remaining space */
}

footer {
    background-color: #003c80;
    color: #e8e8e8;
    padding: 0px;
    text-align: center;
}

footer > p {
    font-size: 10pt;
    text-align: center;
}

footer .updated {
    font-size: 9pt;
    font-style: italic;
}

ul {
  list-style-type: none; /* Remove bullet points */
}

li {
    line-height: 1.5em;
}

.stats {
    padding-inline-start: 0px;
    font-size: 11pt;
}

.stats > li {
    line-height: 1.8em;
}

i {
    margin-right: 5px;
}

.fa-regular {
    color: #003c80;
    font-size: 14pt;
    vertical-align: -1pt;
}

.fa-circle-question {
    font-size: 11pt;
    vertical-align: 0;
    margin-left: 5px;
}

.role {
    margin: 0px 0px 5px -15px;
}

.role li {
    list-style: none;
    margin: 0;
    font-size: 11pt;
}

.role li::before {
    content: '\f007';
    font-family: 'Font Awesome 5 Free';
    color: #003c80;
    float: left;     /* force the margin to the edge of the row */
    margin-left: -1.6rem;
}

/* Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip::before {
    content: "EAI PervasiveHealth is a premier international forum with a \
    specific focus on technologies and human factors related to the use of \
    ubiquitous computing in healthcare and for wellbeing. PervasiveHealth \
    proceedings are indexed in leading indexing services, such as Web of \
    Science, Compendex, Scopus, DBLP, EU Digital Library, Google Scholar, \
    IO-Port, MathSciNet, Inspec, and Zentralblatt MATH.";
    visibility: hidden;
    background-color: #9ec3d7;
    color: #222222;
    text-align: left;
    line-height: 1.2em;
    font-size: 10pt;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%; /* Adjusted to position below */
    left: 50%;
    margin-left: -50px;
    width: 200px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover::before {    /* show tooltip on hover */
    visibility: visible;
    opacity: 1;
}

.tooltip_review {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: -3px;
}

.tooltip_review::before {
    content: "A mapping review employs a flexible and exploratory search \
    strategy to gain a thematic understanding of the existing research on a \
    specific topic, which includes evaluating potential gaps for future \
    research to address.";
    visibility: hidden;
    background-color: #9ec3d7;
    color: #222222;
    text-align: left;
    line-height: 1.2em;
    font-size: 10pt;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%; /* Adjusted to position below */
    left: 50%;
    margin-left: -25px;
    width: 200px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip_review:hover::before {
    visibility: visible;
    opacity: 1;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 10px;
    }

    .exam > div {
        margin-right: 0;
    }

    footer {
        padding: 5px;
    }
}